<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033184374253-0760akrvass6ahoeij7trrjhivn8iiks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033184374253-0760akrvass6ahoeij7trrjhivn8iiks</string>
	<key>API_KEY</key>
	<string>AIzaSyBj5Mo-FYaiLRTG4dDf174S5MpU96AeJBI</string>
	<key>GCM_SENDER_ID</key>
	<string>1033184374253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.accoutingSoftware</string>
	<key>PROJECT_ID</key>
	<string>financify-accounting</string>
	<key>STORAGE_BUCKET</key>
	<string>financify-accounting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033184374253:ios:000604823aab814ee28be4</string>
</dict>
</plist>